<div data-content-type="row" data-appearance="contained" data-element="main"><div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="inner" data-pb-style="SAICWWT"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><style>.pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

    background-size: 100vw !important;
    min-height: content !important;
}


@media (max-width:640px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 440px !important;
        max-height: 440px !important;

    }
}


@media (max-width: 430px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {
        min-height: 490px !important;
        max-height: 490px !important;
    }

}


@media (max-width: 414px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {
        min-height: 470px !important;
        max-height: 470px !important;
    }

}


@media (max-width: 390px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {
        min-height: 440px !important;
        max-height: 440px !important;
    }

}




@media (min-width:641px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 220px !important;
        max-height: 220px !important;

    }


}


@media (min-width:768px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 270px !important;
        max-height: 270px !important;

    }


}


@media (min-width:868px) {

    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 290px !important;
        max-height: 290px !important;

    }


}


@media (min-width:1000px) {


    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 340px !important;
        max-height: 340px !important;

    }


}



@media (min-width:1208px) {


    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 410px !important;
        max-height: 410px !important;

    }


}


@media (min-width:1400px) {


    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 470px !important;
        max-height: 470px !important;

    }


}

@media (min-width:1640px) {


    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 520px !important;
        max-height: 520px !important;

    }


}


@media (min-width:1740px) {


    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 570px !important;
        max-height: 570px !important;

    }


}


@media (min-width:1800px) {



    .pagebuilder-slider-full-width_,
    .pagebuilder-slider-full-width_ .pagebuilder-slide-wrapper {

        min-height: 572px !important;
        max-height: 572px !important;

    }


}

</style></div><div class="pagebuilder-slider pagebuilder-slider-full-width_ slick-initialized slick-slider slick-dotted" data-content-type="slider" data-appearance="default" data-autoplay="true" data-autoplay-speed="2000" data-fade="false" data-infinite-loop="true" data-show-arrows="false" data-show-dots="true" data-element="main" data-pb-style="HQRDV3J"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3880px; transform: translate3d(-776px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 776px;"><div><div class="pb-home-slide-1 lazyloaded mrw-es-banner" data-content-type="slide" data-slide-name="" data-appearance="poster" data-show-button="never" data-show-overlay="never" data-element="main" style="width: 100%; display: inline-block;"><a class="mrw-es-banner" href="https://www.mrwonderful.com/es/edicion-limitada/novedades.html" target="" data-link-type="default" title="" data-element="link" tabindex="-1"><div class="pagebuilder-slide-wrapper background-image-65f34c8767e68 background-image-65f34c88e3ec3" data-background-images="{\&quot;desktop_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png\&quot;,\&quot;mobile_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png\&quot;}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="wrapper" data-pb-style="AL39C8C"><div class="pagebuilder-overlay pagebuilder-poster-overlay" data-overlay-color="" aria-label=" Mochilas, estuches y accesorios de papelería de Mr. Wonderful - PreHome Slider 2 - ES - Mochilas" title="" data-element="overlay" data-pb-style="X5BWIR8"><div class="pagebuilder-poster-content"><div data-element="content"></div></div></div></div><style type="text/css">.background-image-65f34c8767e68 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c8767e68 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c8767e68 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style><style type="text/css">.background-image-65f34c88e3ec3 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c88e3ec3 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c88e3ec3 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style></a></div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide10" style="width: 776px;" aria-describedby="slick-slide-control10"><div><div class="pb-home-slide-1 lazyloaded mrw-es-banner" data-content-type="slide" data-slide-name="" data-appearance="poster" data-show-button="never" data-show-overlay="never" data-element="main" style="width: 100%; display: inline-block;"><a class="mrw-es-banner" href="https://www.mrwonderful.com/es/edicion-limitada/novedades/dia-del-padre.html" target="" data-link-type="default" title="" data-element="link" tabindex="0"><div class="pagebuilder-slide-wrapper background-image-65f34c8767de9 background-image-65f34c88e3e44" data-background-images="{\&quot;desktop_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_1921x534.png\&quot;,\&quot;mobile_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png\&quot;}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="wrapper" data-pb-style="XSQLBSX"><div class="pagebuilder-overlay pagebuilder-poster-overlay" data-overlay-color="" aria-label="" title="" data-element="overlay" data-pb-style="UEHI0MI"><div class="pagebuilder-poster-content"><div data-element="content"></div></div></div></div><style type="text/css">.background-image-65f34c8767de9 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_1921x534.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c8767de9 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c8767de9 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style><style type="text/css">.background-image-65f34c88e3e44 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_1921x534.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c88e3e44 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c88e3e44 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style></a></div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide11" style="width: 776px;" aria-describedby="slick-slide-control11" tabindex="-1"><div><div class="pb-home-slide-1 lazyloaded mrw-es-banner" data-content-type="slide" data-slide-name="" data-appearance="poster" data-show-button="never" data-show-overlay="never" data-element="main" style="width: 100%; display: inline-block;"><a class="mrw-es-banner" href="https://www.mrwonderful.com/es/edicion-limitada/novedades.html" target="" data-link-type="default" title="" data-element="link" tabindex="-1"><div class="pagebuilder-slide-wrapper background-image-65f34c8767e68 background-image-65f34c88e3ec3" data-background-images="{\&quot;desktop_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png\&quot;,\&quot;mobile_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png\&quot;}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="wrapper" data-pb-style="AL39C8C"><div class="pagebuilder-overlay pagebuilder-poster-overlay" data-overlay-color="" aria-label=" Mochilas, estuches y accesorios de papelería de Mr. Wonderful - PreHome Slider 2 - ES - Mochilas" title="" data-element="overlay" data-pb-style="X5BWIR8"><div class="pagebuilder-poster-content"><div data-element="content"></div></div></div></div><style type="text/css">.background-image-65f34c8767e68 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c8767e68 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c8767e68 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style><style type="text/css">.background-image-65f34c88e3ec3 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c88e3ec3 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c88e3ec3 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style></a></div></div></div><div class="slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" tabindex="-1" style="width: 776px;"><div><div class="pb-home-slide-1 lazyloaded mrw-es-banner" data-content-type="slide" data-slide-name="" data-appearance="poster" data-show-button="never" data-show-overlay="never" data-element="main" style="width: 100%; display: inline-block;"><a class="mrw-es-banner" href="https://www.mrwonderful.com/es/edicion-limitada/novedades/dia-del-padre.html" target="" data-link-type="default" title="" data-element="link" tabindex="-1"><div class="pagebuilder-slide-wrapper background-image-65f34c8767de9 background-image-65f34c88e3e44" data-background-images="{\&quot;desktop_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_1921x534.png\&quot;,\&quot;mobile_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png\&quot;}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="wrapper" data-pb-style="XSQLBSX"><div class="pagebuilder-overlay pagebuilder-poster-overlay" data-overlay-color="" aria-label="" title="" data-element="overlay" data-pb-style="UEHI0MI"><div class="pagebuilder-poster-content"><div data-element="content"></div></div></div></div><style type="text/css">.background-image-65f34c8767de9 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_1921x534.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c8767de9 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c8767de9 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style><style type="text/css">.background-image-65f34c88e3e44 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_1921x534.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c88e3e44 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c88e3e44 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Papasv4_Banner_Home_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style>
</a>
</div>
</div>
</div>
<div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 776px;">
<div>
<div class="pb-home-slide-1 lazyloaded mrw-es-banner" data-content-type="slide" data-slide-name="" data-appearance="poster" data-show-button="never" data-show-overlay="never" data-element="main" style="width: 100%; display: inline-block;">
<a class="mrw-es-banner" href="https://www.mrwonderful.com/es/edicion-limitada/novedades.html" target="" data-link-type="default" title="" data-element="link" tabindex="-1">
<div class="pagebuilder-slide-wrapper background-image-65f34c8767e68 background-image-65f34c88e3ec3" data-background-images="{\&quot;desktop_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png\&quot;,\&quot;mobile_image\&quot;:\&quot;https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png\&quot;}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="wrapper" data-pb-style="AL39C8C"><div class="pagebuilder-overlay pagebuilder-poster-overlay" data-overlay-color="" aria-label=" Mochilas, estuches y accesorios de papelería de Mr. Wonderful - PreHome Slider 2 - ES - Mochilas" title="" data-element="overlay" data-pb-style="X5BWIR8"><div class="pagebuilder-poster-content">
<div data-element="content">
</div>
</div>
</div>
</div>
<style type="text/css">.background-image-65f34c8767e68 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c8767e68 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c8767e68 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style><style type="text/css">.background-image-65f34c88e3ec3 {
    background-image: url(https://www.mrwonderful.com/media/wysiwyg/ES-_Banner_Home_-_1921x534_1.png);
}

@media only screen and (max-width: 300px) and (min-width: 640px) {
    .background-image-65f34c88e3ec3 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

@media only screen and (max-width: 640px) {
    .background-image-65f34c88e3ec3 {
        background-image: url(https://www.mrwonderful.com/media/wysiwyg/Banner_B2C_ES-_Banner_Home_-_750x860_1.png);
    }
}

</style></a></div></div></div></div></div><ul class="slick-dots" role="tablist" style=""><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control10" aria-controls="slick-slide10" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control11" aria-controls="slick-slide11" aria-label="2 of 2" tabindex="-1">2</button></li></ul></div></div></div>